name: CodSpeed
'on':
  push:
    branches:
    - main
  pull_request: null
  workflow_dispatch: null
permissions:
  contents: read
  id-token: write
jobs:
  codspeed:
    name: Run benchmarks
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Setup rust toolchain, cache and cargo-codspeed binary
      uses: moonrepo/setup-rust@v1.2.2
      with:
        channel: stable
        cache-target: release
        bins: cargo-codspeed
    - name: Build the benchmark target(s)
      run: cargo codspeed build
    - name: Run the benchmarks
      uses: CodSpeedHQ/action@v4.4.1
      with:
        upload-url: ${{ secrets.CODSPEED_FRANCOIS_DEV_UPLOAD_URL }}
        mode: simulation
        run: cargo codspeed run
